.game-screen {
    h1 {
        color: #000000;
    }
}
.game__section {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 468px;
    border: 2px solid #000000;

    img.background-image {
        position: absolute;
        background: url(./../img/game-background.jpg);
        background-repeat: repeat-x;
        background-position: center bottom;
        background-size: 1000px 468px;
        width: 100000000px;
        height: 468px;
        top: 0;
        left: 0;
    }

    img.cyborg-image {
        position: absolute;
        bottom: 4px;
        left: 40px;
        width: 70px;
        height: auto;
    }
}