.container {
	&.main-page {
        margin: 16px auto;
        width: 70vw;
        height: 80vh;
        padding: 16px;
        border: 2px solid #bf63ef;
        background: url('./../img/alien-background.jpg') no-repeat;
        background-position: bottom right;
    }
    a.button01{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 40px;
        color: #36ebff;
        text-decoration: none;
        border-radius: 16px;
        margin-top: 16px;
        transition: 0.6s;
        text-shadow: 0px 0px 12px #FFFFFF;
        cursor: pointer;
        &:hover {
            background: #bf63ef;
            color: #FFFFFF;
        }
    }
    h1 {
        margin-top: -88px;
    }
    footer a {
        font-size: 6px;
        color: #000000;
        text-decoration: none;
    }
}