@import "./variables";
.container {
  &.main-page {
    margin: 16px auto;
    width: 70vw;
    height: 80vh;
    padding: 16px;
    border: 2px solid $pinkColor01;
    background: url(./../img/background/alien-background.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    h1 {
      margin: 24px 0;
    }
    .text-center {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      img {
        display: flex;
        margin: 0 8px;
        border-radius: 6px;
      }
    }
  }
  a.button01 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: max-content;
    height: 40px;
    color: $azureColor01;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 16px;
    transition: 0.6s;
    text-shadow: 0px 0px 12px $whiteColor01;
    padding: 0 24px;
    cursor: pointer;
    &:hover {
      background: $pinkColor01;
      color: $whiteColor01;
    }
  }
  h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 8px;
  }
  footer a {
    font-size: 6px;
    color: $blackColor01;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  .container {
    &.main-page {
      margin: 0 auto;
      width: 100vw;
      height: 100vh;
      background-position: top right;
    }
  }
}
