.container {
	&.main-page {
        margin: 16px auto;
        width: 70vw;
        height: 80vh;
        padding: 16px;
        border: 2px solid #bf63ef;
        background: url('./../img/alien-background.jpg') no-repeat;
        background-position: bottom right;
    }
    a.button01{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        width: 160px;
        height: 40px;
        color: #36ebff;
        text-decoration: none;
        border-radius: 16px;
        margin-top: 16px;
        transition: 0.6s;
        text-shadow: 0px 0px 12px #FFFFFF;
        cursor: pointer;
        &:hover {
            background: #bf63ef;
            color: #FFFFFF;
        }
    }
    h1 {
        font-size: 48px;
        text-align: center;
    }
    footer a {
        font-size: 6px;
        color: #000000;
        text-decoration: none;
    }
}

@media (max-width: 600px) {
    .container {
        &.main-page {
            margin: 0 auto;
            width: 100vw;
            height: 100vh;
            background-position: top right;
        }
    }
}