img.monster {
  position: absolute;
  bottom: 0;
  left: 400px;
  width: 45px;
  height: auto;
  animation: monster 6s linear infinite, walk 2s linear infinite;
  &.orange {
    left: 320px;
    bottom: -8px;
    animation: monster 2s linear infinite, walk 2.5s linear infinite;
  }
}

@keyframes monster {
  0% {
    left: 1200px;
  }

  100% {
    left: 0;
  }
}

@keyframes walk {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
