@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container.main-page {
  margin: 16px auto;
  width: 70vw;
  height: 80vh;
  padding: 16px;
  border: 2px solid #bf63ef;
  background: url(./../img/background/alien-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.container a.button01 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 160px;
  height: 40px;
  color: #36ebff;
  text-decoration: none;
  border-radius: 16px;
  margin-top: 16px;
  transition: 0.6s;
  text-shadow: 0px 0px 12px #FFFFFF;
  cursor: pointer;
}
.container a.button01:hover {
  background: #bf63ef;
  color: #FFFFFF;
}
.container h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 8px;
}
.container footer a {
  font-size: 6px;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container.main-page {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-position: top right;
  }
}
.game-screen h1 {
  color: #000000;
}

.game__section {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 468px;
  border: 2px solid #000000;
  margin-top: 40px;
}
.game__section img.background-image {
  position: absolute;
  background: url(./../img/background/game-background.jpg);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 1000px 468px;
  width: 100000000px;
  height: 468px;
  top: 0;
  left: 0;
  animation: animated-background 3000s;
}
.game__section img.cyborg-image {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 70px;
  height: auto;
}
.game__section img.monster {
  position: absolute;
  bottom: 0;
  left: 400px;
  width: 45px;
  height: auto;
  animation: monster 3.5s linear infinite, walk 2s linear infinite;
}
.game__section img.cyborg-image.jump {
  animation: jump 0.5s ease-in-out;
}
.game__section img.cyborg-image.stop-jump {
  animation: none;
}
.game__section img.boom-effect {
  position: absolute;
  bottom: 8px;
  left: 80px;
  width: 70px;
  height: auto;
  display: none;
  z-index: 1;
}
.game__section .points-container {
  position: absolute;
  top: 8px;
  left: 16px;
  display: block;
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
  font-size: 32px;
}
.game__section .lives-container {
  position: absolute;
  top: 8px;
  right: 16px;
  display: block;
  width: 40px;
  height: 40px;
}
.game__section .lives-container .live {
  display: block;
  background: url(./../img/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}
.game__section .lives-amount {
  position: absolute;
  top: 8px;
  right: 72px;
  font-size: 28px;
  text-shadow: 2px 2px #000000;
}
.game__section .game-over {
  display: none;
}
.game__section .game-over.show {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-shadow: 2px 2px #000000;
}
.game__section .play-again {
  display: none;
}
.game__section .play-again.show {
  display: block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  text-shadow: 2px 2px #000000;
  background: #bf63ef;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px;
  margin-top: 16px;
  border-radius: 16px;
  transition: 0.6s;
  cursor: pointer;
}
.game__section .play-again.show:hover {
  color: #000000;
}

@keyframes monster {
  0% {
    left: 1200px;
  }
  100% {
    left: 0;
  }
}
@keyframes jump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 130px;
  }
  75% {
    bottom: 145px;
  }
  100% {
    bottom: 160px;
  }
}
@keyframes walk {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes animated-background {
  to {
    left: -100000px;
  }
}
body {
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DynaPuff", cursive;
}/*# sourceMappingURL=style.css.map */