@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import './reset';
@import './gameBackground';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "VT323", monospace;
}