@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container.main-page {
  margin: 16px auto;
  width: 70vw;
  height: 80vh;
  padding: 16px;
  border: 2px solid #bf63ef;
  background: url(./../img/background/alien-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.container.main-page h1 {
  margin: 24px 0;
}
.container.main-page .text-center {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.container.main-page .text-center img {
  display: flex;
  margin: 0 8px;
  border-radius: 6px;
}
.container h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 8px;
}
.container footer a {
  font-size: 6px;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container.main-page {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-position: top right;
  }
}
.game-screen h1 {
  color: #000000;
}

.game__section {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 468px;
  border: 2px solid #000000;
  margin-top: 40px;
}
.game__section img.background-image {
  position: absolute;
  background: url(./../img/background/game-background.jpg);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 1000px 468px;
  width: 100000000px;
  height: 468px;
  top: 0;
  left: 0;
  animation: animated-background 3000s;
}
.game__section img.cyborg-image {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 70px;
  height: auto;
}
.game__section img.cyborg-image.jump {
  animation: jump 0.5s ease-in-out;
}
.game__section img.cyborg-image.stop-jump {
  animation: none;
}
.game__section img.explosion-effect {
  position: absolute;
  bottom: 16px;
  left: 50%;
  width: 30px;
  height: auto;
  display: none;
  z-index: 1;
}
.game__section img.boom-effect {
  position: absolute;
  bottom: 8px;
  left: 80px;
  width: 70px;
  height: auto;
  display: none;
  z-index: 1;
}
.game__section .points-container {
  position: absolute;
  top: 8px;
  left: 16px;
  display: block;
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
  font-size: 32px;
}
.game__section .lives-container {
  position: absolute;
  top: 8px;
  right: 16px;
  display: block;
  width: 40px;
  height: 40px;
}
.game__section .lives-container .live {
  display: block;
  background: url(./../img/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}
.game__section .laser-attack {
  position: absolute;
  bottom: 24px;
  left: 80px;
  display: flex;
  width: 100px;
  height: 3px;
  background-color: #ff0000;
  animation: laser-animation 2s linear;
}
.game__section .lives-amount {
  position: absolute;
  top: 8px;
  right: 72px;
  font-size: 28px;
  text-shadow: 2px 2px #000000;
}
.game__section .game-over {
  display: none;
}
.game__section .game-over.show {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-shadow: 2px 2px #000000;
}
.game__section .game-over_result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(41, 198, 185, 0.3215686275);
  padding: 16px;
  border-radius: 24px;
}
.game__section .game-over_result p {
  font-size: 0;
}
.game__section .game-over_result.show span {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  text-shadow: 2px 2px #000000;
}
.game__section .game-over_result.show p {
  color: #00ffff;
  font-size: 56px;
  text-shadow: 2px 2px #000000;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 130px;
  }
  75% {
    bottom: 145px;
  }
  100% {
    bottom: 160px;
  }
}
@keyframes animated-background {
  to {
    left: -100000px;
  }
}
@keyframes laser-animation {
  0% {
    left: 80px;
  }
  100% {
    left: 1200px;
  }
}
img.monster {
  position: absolute;
  bottom: 0;
  left: 400px;
  width: 45px;
  height: auto;
  animation: monster 6s linear infinite, walk 2s linear infinite;
}
img.monster.orange {
  left: 320px;
  bottom: -8px;
  animation: monster 2s linear infinite, walk 2.5s linear infinite;
}

@keyframes monster {
  0% {
    left: 1200px;
  }
  100% {
    left: 0;
  }
}
@keyframes walk {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
footer a {
  display: none;
}

.button01 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  color: #36ebff;
  text-decoration: none;
  border-radius: 16px;
  margin-top: 16px;
  transition: 0.6s;
  text-shadow: 0px 0px 12px #FFFFFF;
  padding: 0 24px;
  cursor: pointer;
}
.button01:hover {
  background: #bf63ef;
  color: #FFFFFF;
}

.button02 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  background: #bf63ef;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 16px;
  margin-top: 16px;
  transition: 0.6s;
  text-shadow: 0px 0px 12px #000000;
  padding: 0 24px;
  cursor: pointer;
}
.button02:hover {
  color: #36ebff;
}

.play-again {
  display: none;
}
.play-again.show {
  display: block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  text-shadow: 2px 2px #000000;
  background: #bf63ef;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 16px;
  border-radius: 16px;
  padding: 6px 16px;
  transition: 0.6s;
  cursor: pointer;
}
.play-again.show:hover {
  color: #36ebff;
}

body {
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DynaPuff", cursive;
}/*# sourceMappingURL=style.css.map */