@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');
@import './reset';
@import './gameBackground';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'DynaPuff', cursive;
}